@page "/"

<PageTitle>Accueil</PageTitle>

@using Todolist.Data
@inject TodoService TodoDataService

<h1>Todoliste</h1>


@if (todos == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tâche</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in todos)
            {
                <tr>
                    <td>@todo.Title</td>
                    <td>@todo.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Todo[]? todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await TodoDataService.GetTodoAsync();
    }
}
